<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "nl.iedereenEHBO.instructeursnapp"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Calendar APP</name>

    <description>
        App toont kalender.
    </description>

    <author href="https://www.dutchlearning.com" email="rik.dekyvere@dutchlearning.com">
        Rik Dekyvere
    </author>
        
         <!-- Define app splash screen for each platform. -->
    
<gap:plugin name="nl.x-services.plugins.calendar" version="4.2.8" />
</widget>